// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* movie-index page */
.movie-list{
  padding-top:50px;
}


/* movie-show page */
.comment{
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height:200px;
  overflow:auto;
}
.review-content{
  margin-top:0;
  padding-top:0;
}
.movie-info{
padding-top:30px;
}

.info-head{
  height:130px;
}
.review-time{
  margin-left:10px;

}
.review-body{
  margin-top:5px;
}

.review-body-view{
  margin-top:5px;
  margin-left:15px;
}
